@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monomakh&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eef9e2;
    color: #070f10;
    font-family: "Roboto:ital,wght@0,100..900;1,100..900", "Monomakh", serif;
    font-weight: 200;
}

.wrapper {
    width: 1400px;
    margin: 40px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 400;
    font-size: 40px;
    padding-left: 500px;
}

header .presentation {
    margin: 50px 0;
    background: url('./Img/fon.jpg') no-repeat;
    border-radius: 30px;
    width: 100%;
    height: 630px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #f1f2e5;
    position: relative;
}

header .presentation::after {
    content: 'development';
    position: absolute;
    top: 84px;
    left: 326px;
    width: 600px;
    font-size: 38px;
    font-weight: 600px;
    color: #385934;
}

header .but1 {
    font-size: 42px;
    border-radius: 22px;
    border-style: none;
    color: #183e11;
    background-color: transparent;
    padding: 5px;
    margin-left: 223px;
    margin-top: 77px;
    transition: color, transform 500ms ease;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(40, 144, 22, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(40, 144, 22, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(40, 144, 22, 0.2);
}

header .but1:hover,
header .but1.active {
    color: #e3fde0;
    background-color: #101c0f;
    transform: scale(1.3);
}

header .pole1 {
    position: absolute;
    background-color: #ffffff;
    width: 944px;
    height: auto;
    font-size: 48px;
    margin-left: 20px;
    padding-left: 22px;
    padding-top: 22px;
    border-radius: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: #395636;
    z-index: 1001;
}

header .presentation::before {
    content: 'Absolute Control of ';
    position: absolute;
    top: 540px;
    left: 222px;
    width: 800px;
    font-size: 48px;
    font-weight: 600px;
    color: #f1f2e5;
}

header .but2 {
    font-size: 50px;
    position: absolute;
    left: 684px;
    top: 537px;
    color: #f1f2e5;
    background-color: transparent;
    border-style: none;
    transition: color, transform 500ms ease;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(40, 144, 22, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(40, 144, 22, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(40, 144, 22, 0.2);

}

header .but2:hover,
header .but2.active {
    color: #080b00;
    transform: scale(1.12);
    border-radius: 30px;
    background-color: transparent;
}

header .pole2 {
    position: absolute;
    background-color: #ffffff;
    width: 944px;
    height: auto;
    font-size: 48px;
    margin-left: 250px;
    margin-top: 480px;
    padding-left: 22px;
    padding-top: 22px;
    border-radius: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: #395636;
    z-index: 1001;
}

header .menu {
    font-size: 60px;
    color: #212554;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 50px;
    border-radius: 22px;
}

header .menu:hover,
header .menu.active {
    color: #787ac9;
    background-color: #13180c;
    transform: scale(1.5);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .menu1 {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 700px;
    height: 766px;
    padding: 16px;
    font-size: 48px;
    background-color: #e4e8fb;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    border-radius: 30px;
    z-index: 1001;
}

header .menu2 {
    position: absolute;
    font-size: 50px;
    left: 420px;
    bottom: 26px;
    transition: color, transform 500ms ease;
}

header .menu2:hover,
header .menu2.active {
    color: #787ac9;
    background-color: #dff5bf;
    transform: scale(1.2);
    border-radius: 10px;
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .menu3 {
    background-color: #dff5bf;
    position: absolute;
    width: 400px;
    height: auto;
    top: 800px;
    padding: 8px;
    border-radius: 20px;
}



header .pers {
    font-size: 60px;
    color: #230f0b;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 90px;
    border-radius: 22px;


}

header .pers:hover,
header .pers.active {
    color: #cdfac9;
    background-color: #230f0b;
    transform: scale(1.5);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);

}

header .pers1 {
    position: absolute;
    top: 120px;
    left: 18px;
    width: 700px;
    height: 766px;
    background-color: #defddb;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    border-radius: 30px;
    z-index: 1000;
}

header .pers2 {
    font-size: 56px;
    color: #605501;
    position: absolute;
    left: 250px;
}

header .iga {
    font-size: 48px;
    position: absolute;
    top: 80px;
    left: 30px;
    margin: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: #b8fda1;
}

header .iga1 {
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 560px;
    color: #0d0a02;
    background-color: #b8fda1;
    padding: 6px;
    border-radius: 30px;
    transition: color, transform 500ms ease;
}

header .iga1:hover,
header .iga1.active {
    color: #b8fda1;
    transform: scale(1.5);
    background-color: #26793b;
}

header .iga2 {
    font-size: 60px;
    position: absolute;
    left: 640px;
    width: 700px;
    height: 766px;
    padding-left: 30px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    background-color: #b8fda1;
}

header .tel {
    font-size: 60px;
    color: #0a1709;
    background-color: #b8fda1;
    padding: 12px;
    border-radius: 28px;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-top: -24px;
    margin-left: 40px;


}

header .tel:hover,
header .tel.active {
    color: #b8fda1;
    background-color: #26793b;
    transform: scale(1.3);
}

header .tel1 {
    background-color: #b8fda1;
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
}

header .dim {
    font-size: 48px;
    position: absolute;
    top: 180px;
    left: 30px;
    margin: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: #d6fab4;
}

header .dim1 {
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: 560px;
    color: #0d0a02;
    background-color: #d6fab4;
    padding: 6px;
    border-radius: 30px;
    transition: color, transform 500ms ease;
}

header .dim1:hover,
header .dim1.active {
    color: #d6fab4;
    background-color: #0d1e06;
    transform: scale(1.4);
}

header .dim2 {
    font-size: 60px;
    position: absolute;
    left: 640px;
    width: 700px;
    height: 766px;
    padding-left: 30px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    background-color: #d6fab4;
}

header .tel2 {
    font-size: 60px;
    color: #0a1709;
    background-color: #a8eb89;
    padding: 12px;
    border-radius: 28px;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 530px;
    margin-top: -30px;
}

header .tel2:hover,
header .tel2.active {
    color: #a8eb89;
    background-color: #0d1e06;
    transform: scale(1.4);
}

header .tel3 {
    background-color: #d6fab4;
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
}

header .il {
    font-size: 48px;
    position: absolute;
    top: 280px;
    left: 30px;
    margin: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: #d7ffca;
}

header .il1 {
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 300px;
    left: 560px;
    color: #0d0a02;
    background-color: #d7ffca;
    padding: 6px;
    border-radius: 30px;
    transition: color, transform 500ms ease;
}

header .il1:hover,
header .il1.active {
    color: #d7ffca;
    background-color: #19301a;
    transform: scale(1.4);
}

header .il2 {
    font-size: 60px;
    position: absolute;
    left: 640px;
    width: 700px;
    height: 766px;
    padding-left: 30px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    background-color: #d7ffca;
}

header .tel4 {
    font-size: 60px;
    color: #0a1709;
    position: absolute;
    background-color: #d5ffd7;
    padding: 12px;
    border-radius: 28px;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 568px;
    margin-top: -50px;

}

header .tel4:hover:hover,
header .tel4.active {
    color: #d5ffd7;
    background-color: #6cb576;
    transform: scale(1.4);
}

header .tel5 {
    background-color: #d7ffca;
    padding: 10px;
    padding-left: 20px;
    margin-top: 48px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
}

header .an {
    font-size: 48px;
    position: absolute;
    top: 380px;
    left: 30px;
    margin: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: #c7e6b0;
}

header .an1 {
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 400px;
    left: 560px;
    color: #0d0a02;
    background-color: #c7e6b0;
    padding: 6px;
    border-radius: 30px;
    transition: color, transform 500ms ease;
}

header .an1:hover,
header .an1.active {
    color: #c7e6b0;
    background-color: #15230a;
    transform: scale(1.4);
}

header .an2 {
    font-size: 60px;
    position: absolute;
    left: 640px;
    width: 700px;
    height: 766px;
    padding-left: 30px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    background-color: #c7e6b0;
}

header .tel6 {
    font-size: 60px;
    color: #081e05;
    position: absolute;

    background-color: #ccf9ba;
    border-radius: 50px;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 430px;
    margin-top: 10px;
    -webkit-box-shadow: 0px -1px 8px 14px rgba(191, 255, 24, 0.26);
    -moz-box-shadow: 0px -1px 8px 14px rgba(191, 255, 24, 0.26);
    box-shadow: 0px -1px 8px 14px rgba(191, 255, 24, 0.26);

}

header .tel6:hover,
header .tel6.active {
    color: #c7e6b0;
    background-color: #204122;
    transform: scale(1.3);
}

header .tel7 {
    background-color: #c7e6b0;
    padding: 10px;
    padding-left: 20px;
    margin-top: 78px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
}

header .ju {
    font-size: 48px;
    position: absolute;
    top: 480px;
    left: 30px;
    margin: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: #dcfda9;
}

header .ju1 {
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 560px;
    color: #0d0a02;
    background-color: #dcfda9;
    padding: 6px;
    border-radius: 30px;
    transition: color, transform 500ms ease;
}

header .ju1:hover,
header .ju1.active {
    color: #dcfda9;
    background-color: #050604;
    transform: scale(1.4);
}

header .ju2 {
    font-size: 60px;
    position: absolute;
    left: 640px;
    width: 700px;
    height: 766px;
    padding-left: 30px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    background-color: #dcfda9;
}

header .tel8 {
    font-size: 60px;
    color: #192f12;
    position: absolute;
    background-color: #dcfda9;
    padding: 12px;
    border-radius: 28px;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 124px;
    margin-top: -50px;
}

header .tel8:hover,
header .tel8.active {
    color: #dcfda9;
    background-color: #0b180c;
    transform: scale(1.3);
}

header .tel9 {
    background-color: #dcfda9;
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
}

header .iv {
    font-size: 48px;
    position: absolute;
    top: 580px;
    left: 30px;
    margin: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: #bbe779;
}

header .iv1 {
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 600px;
    left: 560px;
    color: #0d0a02;
    background-color: #bbe779;
    padding: 6px;
    border-radius: 30px;
    transition: color, transform 500ms ease;
}

header .iv1:hover,
header .iv1.active {
    color: #bbe779;
    background-color: #13180c;
    transform: scale(1.4);
}

header .iv2 {
    font-size: 60px;
    position: absolute;
    left: 640px;
    width: 700px;
    height: 766px;
    padding-left: 30px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    background-color: #bbe779;
}

header .tel10 {
    font-size: 60px;
    color: #0d180a;
    position: absolute;
    background-color: #d7f9a8;
    padding: 12px;
    border-radius: 28px;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 20px;
    margin-top: 10px;
}

header .tel10:hover,
header .tel10.active {
    color: #bbe779;
    background-color: #18230a;
    transform: scale(1.4);
}

header .tel11 {
    background-color: #bbe779;
    padding: 10px;
    padding-left: 20px;
    margin-top: 34px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
}

header .goo {
    font-size: 60px;
    color: #0b1301;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 50px;

}

header .goo:hover,
header .goo.active {
    color: #eff89f;
    background-color: #172704;
    border-radius: 22px;
    transform: scale(1.5);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .goo1 {
    position: absolute;
    top: 120px;
    left: 230px;
    width: 740px;
    height: 766px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 50px;
    background-color: #eff89f;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    border-radius: 30px;
    z-index: 1002;
}

.info {
    font-size: 60px;
    padding-left: 250px;
}

info .infoblock {
    background: url('./Img/fon2.jpg');
    border-radius: 30px;
    width: 100%;
    height: 580px;
    font-size: 55px;
    position: relative;
}

info .infoblock::after {
    content: 'Быстро и Просто';
    position: absolute;
    width: 500px;
    top: 40px;
    left: 70px;
    color: #9ec59a;
}

info .infoblock::before {
    content: 'Развертывание и Поддержка';
    position: absolute;
    width: 700px;
    top: 470px;
    left: 680px;
    color: #9ec59a;
}

.zima {
    font-size: 60px;
    padding-left: 100px;
    margin-top: 40px;
}

zima .zimablock {
    background: url('./Img/fon3.jpg');
    border-radius: 30px;
    width: 100%;
    height: 490px;
    font-size: 55px;
    position: relative;
}

.vav {
    font-size: 60px;
    padding-left: 240px;
    margin-top: 40px;
}

vavilon .vavblock {
    background: url('./Img/fon4.jpg');
    border-radius: 30px;
    width: 100%;
    height: 720px;
    font-size: 55px;
    position: relative;
}

.zal {
    font-size: 60px;
    padding-left: 200px;
    margin-top: 40px;
}

zaliv .zalblock {
    background: url('./Img/fon5.jpg');
    border-radius: 30px;
    width: 100%;
    height: 720px;
    font-size: 55px;
    position: relative;
}

.lego {
    font-size: 60px;
    padding-left: 360px;
    margin-top: 40px;
}

lego .legoblock {
    background: url('./Img/fon6.jpg') no-repeat;
    border-radius: 40px;
    left: 200px;
    width: 1000px;
    height: 580px;
    font-size: 55px;
    position: relative;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 55px;

}