@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomakh&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eef9e2;
    color: #070f10;
    font-family: "Permanent Marker", "Monomakh", serif;
    font-weight: 300;
}

.wrapper {
    width: 1400px;
    margin: 40px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 400;
    font-size: 40px;
    padding-left: 500px;
}

header .presentation {
    margin: 50px 0;
    background: url('./Img/fon.jpg') no-repeat;
    border-radius: 30px;
    width: 100%;
    height: 630px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #f1f2e5;
    position: relative;
}

header .presentation::after {
    content: 'Искуство Создавать';
    position: absolute;
    top: 80px;
    left: 226px;
    width: 600px;
    font-size: 38px;
    font-weight: 600px;
    color: #126009;
}

header .presentation::before {
    content: 'IT Tehnology';
    position: absolute;
    top: 540px;
    left: 222px;
    width: 400px;
    font-size: 48px;
    font-weight: 600px;
    color: #f1f2e5;
}

header .menu {
    font-size: 60px;
    color: #212554;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 50px;
}

header .menu:hover,
header .menu.active {
    color: #a5a6fd;
    transform: scale(1.5);
}

header .menu1 {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 700px;
    height: 766px;
    background-color: #ddd4f7;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    border-radius: 30px;
    z-index: 1001;
}

header .pers {
    font-size: 60px;
    color: #230f0b;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 90px;

}

header .pers:hover,
header .pers.active {
    color: #fdb770;
    transform: scale(1.5);
}

header .pers1 {
    position: absolute;
    top: 120px;
    left: 18px;
    width: 700px;
    height: 766px;
    background-color: #f7e5d4;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    border-radius: 30px;
    z-index: 1000;
}

header .pers2 {
    font-size: 56px;
    color: #966e09;
    position: absolute;
    left: 250px;
}

header .iga {
    font-size: 48px;
    position: absolute;
    top: 80px;
    left: 30px;
    margin: 10px;
    padding: 6px;
    border-radius: 30px;
    background-color: #fdeda1;
}

header .iga1 {
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 560px;
    color: #0d0a02;
    background-color: #fdeda1;
    padding: 6px;
    border-radius: 30px;
    transition: color, transform 500ms ease;
}

header .iga1:hover,
header .iga1.active {
    color: #f87e04;
    transform: scale(1.5);
}

header .iga2 {
    font-size: 60px;
    position: absolute;
    left: 640px;
    width: 700px;
    height: 766px;
    padding-left: 30px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    background-color: #f8f4c2;
}

header .tel {
    font-size: 60px;
    color: #0a1709;
    background-color: #daf59b;
    padding: 12px;
    border-radius: 28px;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 90px;


}

header .tel:hover,
header .tel.active {
    color: #237918;
    background-color: #fdeda1;
    transform: scale(1.5);
}

header .tel1 {
    background-color: #c8f6c2;
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
}

header .goo {
    font-size: 60px;
    color: #3f7106;
    cursor: pointer;
    transition: color, transform 500ms ease;
    margin-left: 50px;

}

header .goo:hover,
header .goo.active {
    color: #77d865;
    transform: scale(1.5);
}

header .goo1 {
    position: absolute;
    top: 120px;
    left: 230px;
    width: 740px;
    height: 766px;
    background-color: #c5efae;
    -webkit-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    box-shadow: -13px 18px 19px 11px rgba(34, 60, 80, 0.17);
    border-radius: 30px;
    z-index: 1002;
}

.info {
    font-size: 60px;
    padding-left: 250px;
}

info .infoblock {
    background: url('./Img/fon2.jpg');
    border-radius: 30px;
    width: 100%;
    height: 580px;
    font-size: 55px;
    position: relative;
}

info .infoblock::after {
    content: 'Быстро и Просто';
    position: absolute;
    width: 500px;
    top: 40px;
    left: 70px;
    color: #9ec59a;
}

info .infoblock::before {
    content: 'Развертывание и Поддержка';
    position: absolute;
    width: 700px;
    top: 470px;
    left: 680px;
    color: #9ec59a;
}

.zima {
    font-size: 60px;
    padding-left: 100px;
    margin-top: 40px;
}

zima .zimablock {
    background: url('./Img/fon3.jpg');
    border-radius: 30px;
    width: 100%;
    height: 490px;
    font-size: 55px;
    position: relative;
}

.vav {
    font-size: 60px;
    padding-left: 240px;
    margin-top: 40px;
}

vavilon .vavblock {
    background: url('./Img/fon4.jpg');
    border-radius: 30px;
    width: 100%;
    height: 720px;
    font-size: 55px;
    position: relative;
}

.zal {
    font-size: 60px;
    padding-left: 200px;
    margin-top: 40px;
}

zaliv .zalblock {
    background: url('./Img/fon5.jpg');
    border-radius: 30px;
    width: 100%;
    height: 720px;
    font-size: 55px;
    position: relative;
}

.lego {
    font-size: 60px;
    padding-left: 360px;
    margin-top: 40px;
}

lego .legoblock {
    background: url('./Img/fon6.jpg') no-repeat;
    border-radius: 40px;
    left: 200px;
    width: 1000px;
    height: 580px;
    font-size: 55px;
    position: relative;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 55px;

}